Cristian Hurtado Cabezas <cristianhurtado82@gmail.com> Cristian Hurtado <cristianhurtado82@gmail.com>
Jorge Altamirano Navarrete <jorgealtamiranonavarrete@gmail.com> jorgealtamiranonavarrete-art <jorgealtamiranonavarrete@gmail.com>
Luis Paredes <l.paredesnuez@uandresbello.edu> LuisParedesN <l.paredesnuez@uandresbello.edu>
Renzo Vilchez <r.vilchezbalabarca@uandresbello.edu> RenzoVilchez02 <r.vilchezbalabarca@uandresbello.edu>
